:root {
  --vh: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

em {
  font-style: normal;
  font-weight: 700;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #101820;
  width: 100vw;
  overflow-y: overlay;
  overflow-x: hidden;
}

.container {
  max-width: 1520px;
  margin: auto;
  padding: 0 40px;
}

.rel {
  position: relative;
}

section:not(.section01) {
  background-color: #fff;
}

.section01 {
  background-color: #000;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  z-index: -1;
  top: 0;
}

.section01 .container {
  height: calc(100 * var(--vh));
  z-index: 1;
}

.section01 .bg {
  background: url("./images/sec1bg.png") no-repeat center/contain;
  height: 100%;
  width: 1920px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.txtContainer {
  height: 100%;
  opacity: 0;
  transform: translateX(-50px);
  transition: 1s;
}

.txtContainer.on {
  opacity: 1;
  transform: translateX(0);
}

.section01 .txtWrapper {
  position: absolute;
  top: calc(50 * var(--vh));
  transform: translateY(-50%);
}

.section01 .txtWrapper p {
  font-size: 24px;
  color: #fff;
}

.section01 .txtWrapper img {
  margin-top: 32px;
}

.section01 .txtSub {
  font-size: 15px;
  color: #fff;
  bottom: 56px;
  position: absolute;
}

.section01 .mainItem {
  top: calc(50 * var(--vh));
  max-height: calc((100 * var(--vh)) - 100px);
  transform: translateY(200px);
  opacity: 0;
  transition: 1.5s;
  transition-delay: 0.5s;
  display: block;
}

.section01 .itemWrapper {
  position: absolute;
  top: 0;
  right: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  transition: opacity 0.5s;
}

.section01 .mainItem.on {
  transform: translateY(10px);
  opacity: 1;
  animation: itemAni 1s 2.5s alternate infinite;
}

@keyframes itemAni {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.section2Top {
  display: flex;
  width: 100vw;
  overflow-x: hidden;
  height: 224px;
  margin-top: calc(100 * var(--vh));
}

.section2Top div:nth-child(1) {
  background-color: #fff;
  flex: 1;
}

.section2Top div:nth-child(2) {
  background: transparent url("./images/sec2top.png") no-repeat right/cover;
  width: 70vw;
  max-width: 1520px;
}


.section2Top div:nth-child(3) {
  background-color: transparent;
  flex: 1;
}

.section02 {
  padding: 60px 0 40px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

h2 {
  font-size: 65px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 30px;
  font-family: 'Noto Sans', sans-serif;
}

.section02 p.desc {
  font-size: 20px;
  margin-top: 32px;
  font-weight: 500;
}

.section02 p.desc span.green {
  color: #13AE67;
}

.kneeItem {
  margin-top: 100px;
  width: 860px;
  height: 470px;
  position: relative;
  transition: .2s;
}

.kneeItem div:not(:last-child) {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.kneeOff {
  background: url("./images/knee.png") no-repeat center/100%;
  opacity: 1;
}

.kneeOn {
  background: url("./images/knee_on.png") no-repeat center/100%;
  opacity: 0;
}

.itemcase {
  position: absolute;
  right: 0;
  bottom: -218px;
  opacity: 0;
  transition: .5s;
}

.itemcase img {
  width: 720px;
}

.kneeItem.on .itemcase {
  opacity: 1;
}

.section03 {
  padding-top: 300px;
  padding-bottom: 360px;
}

.section03 .items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}

.section03 .itemCont {
  transition: 0.3s;
  transform: scale(0);
}

.section03 .itemCont.itemCont1 {
  transition-delay: 0;
}

.section03 .itemCont.itemCont2 {
  transition-delay: 0.2s;
}

.section03 .itemCont.itemCont3 {
  transition-delay: 0.4s;
}

.section03 .itemCont.itemCont4 {
  transition-delay: 0.6s;
}

.section03 .itemCont.itemCont5 {
  transition-delay: 0.3s;
}

.section03 .itemCont.itemCont6 {
  transition-delay: 0.5s;
}

.section03 .itemCont.itemCont7 {
  transition-delay: 0.1s;
}

.section03 .itemCont.itemCont8 {
  transition-delay: 0.8s;
}

.section03 .items.on .itemCont {
  transform: scale(1);
}

.section03 .item {
  width: 100%;
  background-color: #fbfbfb;
  border-radius: 40px;
  aspect-ratio: 345/313;
  padding: 32px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
}

.section03 .icon {
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  transition: 0.5s;
}

.section03 .itemWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section03 .itemWrapper:where(:nth-child(1), :nth-child(3)) {
  margin-top: 80px;
}

.section03 .title {
  font-size: 32px;
}

.section03 .desc {
  transition: 0.5s;
}

.section03 .info {
  font-size: 20px;
  padding-top: 0px;
  letter-spacing: -0.05em;
  max-height: 0;
  overflow: hidden;
  transition: .5s;
  color: #000;
}

.section03 .info em {
  font-size: 22px;
  font-weight: 700;
  display: inline-block;
}

.section03 .info em:nth-of-type(2) {
  margin-top: 6px;
}

.section03 .info span {
  font-size: 14px;
}

.dot {
  width: 20px;
  aspect-ratio: 1;
  background-color: #13AE67;
  position: absolute;
  top: 238px;
  right: 55px;
  border-radius: 50%;
  transition: 0.5s;
}

.section03 .item:hover {
  background-color: #1e1e1e;
}


.section03 .item:hover .icon {
  color: #13AE67;
}


.section03 .item:hover .desc {
  color: #fff;
}

.section03 .item:hover .info {
  padding-top: 20px;
  max-height: 313px;
  color: #fff;
}

.section03 .item:hover .dot {
  top: 55px;
}

.sectionInter {
  height: 213px;
}

.slideArea {
  display: flex;
  height: 550px;
  margin-top: 50px;
  position: relative;
}

.slideArea::before {
  content: '';
  display: block;
  width: 100vw;
  height: 364px;
  background-color: #08482b;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.slideLeft,
.slideRight {
  flex: 1;
}

.slideLeft,
.slideRight,
.slideWrapper {
  z-index: 1;
  position: relative;
}

.slideLeft {
  background-color: transparent;
}

.slideWrapper {
  width: 1520px;
  padding: 0 40px;
  background: transparent url("./images/slideBg.png") 100%;
  position: relative;
}

.slideRight {
  background-color: #ececec;
}

.slideWrapper .swiper {
  width: 1000px;
  height: 100%;
  float: right;
}

.swiper-slide,
.swiper-wrapper {
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 100px;
  padding: 90px 0;
}

.slideTitle h4 {
  margin-top: 20px;
  font-size: 48px;
  font-weight: 700;
  white-space: nowrap;
  text-align: right;
}

.slideTitle h4 em {
  font-size: 64px;
  color: #13AE67;
}

.slideContent {
  overflow-y: auto;
}

.slideContent::-webkit-scrollbar {
  width: 4px;
}

.slideContent::-webkit-scrollbar-thumb {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.slideContent p {
  font-size: 16px;
  line-height: 2;
  letter-spacing: -0.05em;
}

.slideContent span {
  font-size: 13px;
}

.swiper-scroll {
  width: 300px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: 141px;
  right: 920px;
  background-color: #fff;
}

.swiper-scroll .swiper-scrollbar-drag {
  background-color: #000;
}

.swiperArrowPrev,
.swiperArrowNext {
  width: 23px;
  height: 36px;
  bottom: 125px;
  background: url("./images/slidearrow.png") no-repeat center/contain;
  position: absolute;
  z-index: 9;
}

.swiperArrowPrev {
  right: 840px;
}

.swiperArrowNext {
  right: 770px;
  transform: rotate(180deg);
}

.swiper-dots {
  margin-top: 84px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.swiper-dots li {
  padding: 18px;
  font-size: 18px;
  line-height: 28px;
  background-color: #f6f6f6;
  border-radius: 20px;
  transition: .5s;
}

.swiper-dots li:hover {
  background-color: #e3e3e3;
}

.swiper-dots li:not(.active) {
  cursor: pointer;
}

.swiper-dots li.active {
  background-color: #13AE67;
  color: #fff;
  font-weight: 700;
}

.section04 {
  padding-bottom: 150px;
}

.section05 {
  padding-top: 200px;
  padding-bottom: 150px;
}

.faqWrapper {
  margin-top: 50px;
  width: 830px;
  aspect-ratio: 1;
  margin: auto;
  background: url("./images/faqBg.png") no-repeat center/80%;
  position: relative;
}

.faqWrapper .circleWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.faqWrapper.active .circleWrapper {
  animation: circleWrapper 16s linear infinite;
}

@keyframes circleWrapper {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.faqWrapper .circleCont {
  position: absolute;
  width: 210px;
  aspect-ratio: 1;
  transition: .5s;
  transform-origin: center;
}

.faqWrapper .circle {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  cursor: pointer;
  transition: .5s;
  overflow: hidden;
}

.faqWrapper.active .circle {
  animation: circle 16s linear infinite;
}

.faqWrapper .circleCont:hover {
  width: 410px;
  border-radius: 60px;
  transition: width .5s, transform .4s;
}

.faqWrapper .circleCont:hover .circle {
  border-radius: 60px;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.faqWrapper .circleCont:nth-child(1) {
  top: 50%;
  left: 50%;
  transform: scale(0.5) translate(-100%, -100%);
  opacity: 0;
}

.faqWrapper.on .circleCont:nth-child(1) {
  top: 0;
  opacity: 1;
  transform: scale(1) translateX(-50%);
}

.faqWrapper.active .circleCont:nth-child(1):hover {
  transform: translate(-50%, -25%);
}

.faqWrapper .circleCont:nth-child(2) {
  top: 50%;
  right: 50%;
  opacity: 0;
  transition-delay: .1s;
  transform: scale(0.5) translate(100%, -100%);
}

.faqWrapper.on .circleCont:nth-child(2) {
  right: 0;
  opacity: 1;
  transform: translateY(-50%);
}

.faqWrapper.active .circleCont:nth-child(2):hover {
  transform: translate(25%, -50%);
}

.faqWrapper .circleCont:nth-child(3) {
  bottom: 50%;
  left: 50%;
  opacity: 0;
  transition-delay: .2s;
  transform: scale(0.5) translate(-100%, 100%);
}

.faqWrapper.on .circleCont:nth-child(3) {
  bottom: 0;
  opacity: 1;
  transform: translateX(-50%);
}

.faqWrapper.active .circleCont:nth-child(3):hover {
  transform: translate(-50%, 25%);
}

.faqWrapper .circleCont:nth-child(4) {
  top: 50%;
  left: 50%;
  opacity: 0;
  transition-delay: .3s;
  transform: scale(0.5) translate(-100%, -100%);
}

.faqWrapper.on .circleCont:nth-child(4) {
  left: 0;
  opacity: 1;
  transform: translateY(-50%);
}

.faqWrapper.active .circleCont:nth-child(4):hover {
  transform: translate(-25%, -50%);
}

.faqWrapper .circle::before {
  content: '';
  display: block;
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #13AE67;
  position: absolute;
  top: 20px;
  left: calc(50% - 5px);
  transition: .5s;
}

.faqWrapper .circleCont:hover .circle::before {
  left: 30px;
  width: 20px;
}

.faqWrapper .circle .title {
  font-size: 19px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.05em;
  transition: .5s;
}

.faqWrapper .circleCont:hover .circle .title {
  font-size: 30px;
}

.faqWrapper .circle .desc {
  font-size: 20px;
  padding-top: 0;
  transition: .5s;
  overflow: hidden;
  max-height: 0;
  white-space: nowrap;
}

.faqWrapper .circleCont:hover .circle .desc {
  max-height: 100%;
  padding-top: 30px;
}

.faqDesc {
  font-size: 20px;
  margin-top: 200px;
}