:root {
  --vh: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

em {
  font-style: normal;
  font-weight: 700;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #101820;
  width: 100vw;
  overflow-y: overlay;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1520px;
  margin: auto;
  padding: 0 40px;
}

.rel {
  position: relative;
}

section:not(.section01, .section06) {
  background-color: #fff;
}

.section01 {
  background-color: #000;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  z-index: -1;
  top: 0;
  background: linear-gradient(135deg, #0C483F 11%, #038772 44%, #30BF94 77%, #86F3E0 100%);
}

.section01Area {
  height: calc(100 * var(--vh));
  max-height: 1080px;
  background-color: transparent;
}

.section01 .container {
  height: calc(100 * var(--vh));
  max-height: 1080px;
  z-index: 1;
}

.section01 .bg {
  height: 100%;
  width: 1920px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: radial-gradient(rgba(12, 72, 63, 0.5) 0%, transparent 50%);
}

.txtContainer {
  height: 100%;
  opacity: 0;
  transform: translateX(-50px);
  transition: 1s;
  transition-delay: 0.5s;
}

.txtContainer.on {
  opacity: 1;
  transform: translateX(0);
}

.section01 .txtWrapper {
  position: absolute;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.section01 .txtWrapper div:not(:nth-child(2)) {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.section01 .txtWrapper div:nth-child(1) {
  padding-bottom: 102px;
}

.section01 .txtWrapper div:nth-child(2) img {
  width: 640px;
}

.section01 .txtWrapper div:nth-child(3) {
  padding-bottom: 60px;
}

.section01 .txtWrapper p.txtmain {
  font-size: 34px;
  color: #fff;
  margin-top: auto;
}

.section01 .txtSub {
  font-size: 15px;
  color: #fff;
}

.section01 .mainItem {
  top: calc(50 * var(--vh));
  height: 100%;
  opacity: 0;
  transition: 1.5s;
  display: block;
  z-index: -1;
}

.section01 .itemWrapper {
  position: absolute;
  top: 0;
  right: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  transition: opacity 0.5s;
}

.section01 .mainItem.on {
  opacity: 1;
}

.section02Top {
  display: flex;
  width: 100vw;
  overflow-x: hidden;
  height: 224px;
}

.section02Top div:nth-child(1) {
  background-color: #fff;
  flex: 1;
}

.section02Top div:nth-child(2) {
  background: transparent url("https://dhnp.speedgabia.com/newpien/sec2top.png") no-repeat right/cover;
  width: 70vw;
  max-width: 1520px;
}

.section02Top div:nth-child(3) {
  background-color: transparent;
  flex: 1;
}

.section02 {
  padding: 120px 0 80px;
  position: relative;
}

h3 {
  font-size: 26px;
  font-weight: 400;
}

h2 {
  font-size: 68px;
  letter-spacing: -0.02em;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 32px;
  font-family: 'Noto Sans', sans-serif;
}

.section02 p.desc {
  font-size: 24px;
  margin-top: 36px;
  font-weight: 500;
}

.section02 p.desc span.green {
  color: #13AE67;
}

.kneeItem {
  margin-top: 100px;
  width: 860px;
  height: 470px;
  position: relative;
  transition: .2s;
}

.kneeItem div:not(:last-child) {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
}

.kneeOff {
  background: url("https://dhnp.speedgabia.com/newpien/knee.png") no-repeat center/100%;
  opacity: 1;
}

.kneeOn {
  background: url("https://dhnp.speedgabia.com/newpien/knee_on.png") no-repeat center/100%;
  opacity: 0;
}

.itemcase {
  position: absolute;
  right: -90px;
  bottom: -158px;
  opacity: 0;
  transition: .5s;
}

.itemcase img {
  width: 700px;
}

.kneeItem.on .itemcase {
  opacity: 1;
}

.section03 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.section03 .items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}

.section03 .itemCont {
  transition: 0.3s;
  transform: scale(0);
}

.section03 .itemCont.itemCont1 {
  transition-delay: 0;
}

.section03 .itemCont.itemCont2 {
  transition-delay: 0.2s;
}

.section03 .itemCont.itemCont3 {
  transition-delay: 0.4s;
}

.section03 .itemCont.itemCont4 {
  transition-delay: 0.6s;
}

.section03 .itemCont.itemCont5 {
  transition-delay: 0.3s;
}

.section03 .itemCont.itemCont6 {
  transition-delay: 0.5s;
}

.section03 .itemCont.itemCont7 {
  transition-delay: 0.1s;
}

.section03 .itemCont.itemCont8 {
  transition-delay: 0.8s;
}

.section03 .items.on .itemCont {
  transform: scale(1);
}

.section03 .item {
  width: 100%;
  background-color: #fbfbfb;
  border-radius: 30px;
  aspect-ratio: 345/313;
  padding: 30px 34px 34px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}

.section03 .icon {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  transition: 0.5s;
}

.section03 .itemWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section03 .itemWrapper:where(:nth-child(1), :nth-child(3)) {
  margin-top: 80px;
}

.section03 .title {
  font-size: 28px;
  font-weight: 500;
}

.section03 .desc {
  transition: 0.5s;
}

.section03 .info {
  font-size: 18px;
  padding-top: 0px;
  letter-spacing: -0.05em;
  max-height: 0;
  overflow: hidden;
  transition: .5s;
  color: #000;
}

.section03 .info em {
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
}

.section03 .info em:nth-of-type(2) {
  margin-top: 6px;
}

.section03 .info span {
  font-size: 13px;
}

.dot {
  width: 18px;
  aspect-ratio: 1;
  background-color: #13AE67;
  position: absolute;
  top: calc(100% - 62px);
  right: 34px;
  border-radius: 50%;
  transition: 0.5s;
}

.section03 .item:hover {
  background-color: #1e1e1e;
}


.section03 .item:hover .icon {
  color: #13AE67;
}


.section03 .item:hover .desc {
  color: #fff;
}

.section03 .item:hover .info {
  padding-top: 20px;
  max-height: 313px;
  color: #fff;
}

.section03 .item:hover .dot {
  top: 42px;
}

.sectionInter {
  box-sizing: content-box;
}

.sectionInter .container {
  padding-top: 340px;
}

.sectionInter .txtInter {
  font-size: 42px;
}

.sectionInter .txtInter em {
  color: #13AE67;
}

.slideArea {
  display: flex;
  height: 550px;
  margin-top: 50px;
  position: relative;
}

.slideArea::before {
  content: '';
  display: block;
  width: 100vw;
  height: 364px;
  background-color: #08482b;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.slideLeft,
.slideRight {
  flex: 1;
}

.slideLeft,
.slideRight,
.slideWrapper {
  z-index: 1;
  position: relative;
}

.slideLeft {
  background-color: transparent;
}

.slideWrapper {
  width: 1520px;
  padding: 0 40px;
  background: transparent url("https://dhnp.speedgabia.com/newpien/slideBg.png") 100%;
  position: relative;
}

.slideRight {
  background-color: #ececec;
}

.slideWrapper .swiper {
  width: 1000px;
  height: 100%;
  float: right;
}

.swiper-slide,
.swiper-wrapper {
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 80px;
  padding: 90px 0;
}

.slideTitle h4 {
  margin-top: 20px;
  font-size: 44px;
  font-weight: 700;
  white-space: nowrap;
  text-align: right;
}

.slideTitle h4 em {
  font-size: 60px;
  color: #13AE67;
}

.slideContent {
  overflow-y: auto;
  width: calc(100% - 360px);
}

.slideContent::-webkit-scrollbar {
  display: block;
  width: 4px;
}

.slideContent::-webkit-scrollbar-thumb {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.slideContent p {
  font-size: 17px;
  line-height: 2;
  letter-spacing: -0.05em;
}

.slideContent span {
  font-size: 13px;
}

.swiper-scroll {
  width: 300px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: 141px;
  right: 940px;
  background-color: #fff;
}

.swiper-scroll .swiper-scrollbar-drag {
  background-color: #000;
}

.swiperArrowPrev,
.swiperArrowNext {
  width: 23px;
  aspect-ratio: 23/36;
  bottom: 125px;
  background: url("https://dhnp.speedgabia.com/newpien/slidearrow.png") no-repeat center/80%;
  position: absolute;
  z-index: 8;
  cursor: pointer;
}

.swiperArrowPrev {
  right: 878px;
}

.swiperArrowNext {
  right: 790px;
  transform: rotate(180deg);
}

.pauseBtn {
  width: 36px;
  aspect-ratio: 1;
  background: rgba(0, 0, 0, 0.1) url("./images/pause.png") no-repeat center/60%;
  border-radius: 50%;
  position: absolute;
  bottom: 125px;
  right: 828px;
  z-index: 8;
  cursor: pointer;
  transition: .3s;
}

.pauseBtn.on {
  background-image: url("./images/resume2.png");
}

.pauseBtn:hover {
  background-color: #13AE67;
}

.swiper-dots {
  margin-top: 84px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.swiper-dots li {
  padding: 18px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  background-color: #f6f6f6;
  border-radius: 20px;
  transition: .5s;
}

.swiper-dots li:hover {
  background-color: #e3e3e3;
}

.swiper-dots li:not(.active) {
  cursor: pointer;
}

.swiper-dots li.active {
  background-color: #13AE67;
  color: #fff;
  font-weight: 700;
}

.section04 {
  padding: 100px 0 0;
}

.sectionPrd img {
  width: 100%;
  opacity: 0;
  transition: 0.5s;
}

.sectionPrd.on img {
  opacity: 1;
}

.section05 {
  padding-top: 100px;
  padding-bottom: 150px;
}

.faqWrapper {
  width: 830px;
  aspect-ratio: 1;
  margin: 50px auto 0;
  background: url("https://dhnp.speedgabia.com/newpien/faqBg.png") no-repeat center/80%;
  position: relative;
}

.faqWrapper .circleWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.faqWrapper.active .circleWrapper {
  animation: circleWrapper 24s linear infinite;
}

@keyframes circleWrapper {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.faqWrapper .circleCont {
  position: absolute;
  width: 210px;
  aspect-ratio: 1;
  transition: .5s;
  transform-origin: center;
}

.faqWrapper .circle {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  transition: .5s;
  overflow: hidden;
}

.faqWrapper.active .circle {
  animation: circle 24s linear infinite;
}

@media screen and (min-width: 451px) {
  .faqWrapper.active .circleCont:hover {
    width: 360px;
    border-radius: 40px;
    transition: width .5s, transform .4s;
  }

  .faqWrapper.active .circleCont:hover .circle {
    border-radius: 50px;
  }

  @keyframes circle {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(-360deg);
    }
  }

  .faqWrapper.active .circleCont:nth-child(1):hover {
    transform: translate(-50%, -25%);
  }

  .faqWrapper.active .circleCont:nth-child(2):hover {
    transform: translate(25%, -50%);
  }

  .faqWrapper.active .circleCont:nth-child(3):hover {
    transform: translate(-50%, 25%);
  }

  .faqWrapper.active .circleCont:nth-child(4):hover {
    transform: translate(-25%, -50%);
  }

  .faqWrapper.active .circleCont:hover .circle::before {
    left: 30px;
    width: 18px;
  }

  .faqWrapper.active .circleCont:hover .circle .title {
    font-size: 26px;
  }

  .faqWrapper.active .circleCont:hover .circle .desc {
    max-height: 100%;
    padding-top: 30px;
  }

}

.faqWrapper .circleCont:nth-child(1) {
  top: 50%;
  left: 50%;
  transform: scale(0.5) translate(-100%, -100%);
  opacity: 0;
}

.faqWrapper.on .circleCont:nth-child(1) {
  top: 0;
  opacity: 1;
  transform: scale(1) translateX(-50%);
}


.faqWrapper .circleCont:nth-child(2) {
  top: 50%;
  right: 50%;
  opacity: 0;
  transition-delay: .1s;
  transform: scale(0.5) translate(100%, -100%);
}

.faqWrapper.on .circleCont:nth-child(2) {
  right: 0;
  opacity: 1;
  transform: translateY(-50%);
}

.faqWrapper .circleCont:nth-child(3) {
  bottom: 50%;
  left: 50%;
  opacity: 0;
  transition-delay: .2s;
  transform: scale(0.5) translate(-100%, 100%);
}

.faqWrapper.on .circleCont:nth-child(3) {
  bottom: 0;
  opacity: 1;
  transform: translateX(-50%);
}

.faqWrapper .circleCont:nth-child(4) {
  top: 50%;
  left: 50%;
  opacity: 0;
  transition-delay: .3s;
  transform: scale(0.5) translate(-100%, -100%);
}

.faqWrapper.on .circleCont:nth-child(4) {
  left: 0;
  opacity: 1;
  transform: translateY(-50%);
}


.faqWrapper.active .circleCont {
  transition-delay: 0s;
}

.faqWrapper .circle::before {
  content: '';
  display: block;
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #13AE67;
  position: absolute;
  top: 24px;
  left: calc(50% - 5px);
  transition: .5s;
}

.faqWrapper .circle .title {
  font-size: 19px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.05em;
  transition: .5s;
}

.faqWrapper .circle .desc {
  font-size: 18px;
  padding-top: 0;
  transition: .5s;
  overflow: hidden;
  max-height: 0;
  white-space: nowrap;
}

.faqDesc {
  font-size: 18px;
  margin-top: 200px;
}

.section06 {
  padding: 110px 0 200px;
  background-color: #000;
}

.section06 .footerInfo {
  font-size: 16px;
  color: #fff;
  margin: 32px 0 75px;
}

.section06 .container {
  position: relative;
}

ul.family {
  height: 50px;
  transition: .5s;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 280px;
  overflow: hidden;
  position: absolute;
}

ul.family.on {
  height: 150px;
}

ul.family a {
  display: block;
}

ul.family li {
  font-size: 16px;
  color: #fff;
  line-height: 50px;
  cursor: pointer;
  position: relative;
}

ul.family li::after {
  content: '';
  display: block;
  width: 20px;
  aspect-ratio: 2/1;
  background: url("https://dhnp.speedgabia.com/newpien/siteArrow.png") no-repeat center/contain;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

ul.family.on li::after {
  transform: translateY(-50%) rotate(180deg);
}

ul.family li:not(:nth-child(1)) {
  border-top: 1px solid #6f6f6f;
}

ul.family li:not(:nth-child(1))::after {
  transform: translateY(-50%) rotate(-90deg);
}

nav {
  position: fixed;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  z-index: 9;
  opacity: 1;
  transition: .5s;
}

nav.off {
  opacity: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

nav li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  height: 20px;
}

nav li:not(.on) {
  cursor: pointer;
}

nav li a {
  display: block;
  width: 14px;
  aspect-ratio: 1;
  position: relative;
}

nav li a::after {
  content: '';
  display: block;
  width: 6px;
  aspect-ratio: 1;
  background-color: rgba(171, 171, 171, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav li:hover a::after,
nav li.on a::after {
  width: 12px;
}

nav li:hover p {
  opacity: 1;
}

nav p {
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  color: rgba(171, 171, 171, 0.5);
  white-space: nowrap;
  opacity: 0;
  transition: .3s;
  letter-spacing: -0.05em;
}

nav .navMain {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0;
  transition: .5s;
}

nav .navMain.on {
  opacity: 1;
}

nav .navGray {
  opacity: 1;
  transition: .5s;
}

nav .navGray.off {
  opacity: 0;
}

nav .navMain li a::after {
  background-color: #fff;
}

nav .navMain li:nth-child(1) a::after {
  width: 12px;
}

nav .navMain li p {
  color: #fff;
}

nav .navMain li.on p {
  opacity: 1;
}

.scrollbar {
  width: 6px;
  height: calc(100 * var(--vh));
  position: fixed;
  top: 0;
  right: 2px;
  z-index: 999;
}

.scrollThumb {
  width: 100%;
  position: absolute;
  height: 100px;
  background-color: #08482b;
  border-radius: 3px;
  opacity: .8;
}

* {
  user-select: none;
}

footer .logoWrapper {
  display: flex;
  align-items: center;
}

footer .logoWrapper li:nth-child(1) {
  padding-right: 42px;
  position: relative;
}

footer .logoWrapper li:nth-child(1) img {
  width: 270px;
}

footer .logoWrapper li:nth-child(1)::after {
  content: '';
  display: block;
  width: 1px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: calc(50% - 22px);
}

footer .logoWrapper li:nth-child(2) {
  padding-left: 42px;
}

footer .logoWrapper li:nth-child(2) img {
  width: 180px;
}

.sectionPrd .container {
  padding: 0 80px;
}

@media screen and (max-width: 1440px) and (min-width: 1101px) {
  .section01 .itemWrapper {
    right: 10%;
  }

  .section01 .txtWrapper p.txtmain {
    font-size: 26px;
  }

  .section01 .txtWrapper div:nth-child(1) {
    padding-bottom: 70px;
  }

  .section01 .txtWrapper div:nth-child(2) img {
    width: 500px;
  }

  .section01 .txtSub {
    font-size: 14px;
  }

  h3 {
    font-size: 22px;
  }

  h2 {
    font-size: 58px;
  }

  .section02 p.desc {
    font-size: 20px;
  }

  .kneeItem {
    width: 710px;
    height: 388px;
    margin-top: 80px;
  }

  .itemcase {
    right: -90px;
    bottom: -140px;
  }

  .itemcase img {
    width: 640px;
  }

  .sectionInter .container {
    padding-top: 280px;
  }

  .sectionInter .txtInter {
    font-size: 34px;
  }

  .section03 {
    padding-top: 160px;
    padding-bottom: 200px;
  }

  .section03 .item {
    border-radius: 20px;
    padding: 24px 30px 30px;
  }

  .section03 .icon {
    font-size: 32px;
  }

  .section03 .title {
    font-size: 24px;
  }

  .section03 .info {
    font-size: 16px;
  }

  .section03 .item:hover .info {
    padding-top: 14px;
  }

  .section03 .info em {
    font-size: 18px;
  }

  .section03 .info span {
    font-size: 12px;
  }

  .dot {
    width: 14px;
    right: 30px;
    top: calc(100% - 54px);
  }

  .section03 .item:hover .dot {
    top: 34px;
  }

  .swiper-dots li {
    padding: 12px 16px;
    border-radius: 12px;
    font-size: 15px;
  }

  .slideArea {
    height: 480px;
  }

  .slideWrapper {
    width: 100vw;
    background: none;
  }

  .slideWrapper::before {
    content: '';
    display: block;
    background: url("https://dhnp.speedgabia.com/newpien/slideBg.png") no-repeat left bottom/cover;
    width: calc(100% + 10vw);
    height: 100%;
    position: absolute;
    top: 0;
    left: -10vw;
  }

  .slideWrapper .swiper {
    width: calc(100vw - 200px);
  }

  .swiper-slide {
    padding: 60px 0;
    gap: 60px;
    justify-content: flex-end;
  }

  .slideContent {
    width: calc(100% - 570px + 10vw);
  }

  .slideTitle h4 {
    font-size: 38px;
  }

  .slideTitle h4 em {
    font-size: 50px;
  }

  .slideContent p {
    font-size: 15px;
  }

  .swiperArrowPrev,
  .swiperArrowNext {
    width: 18px;
    bottom: 100px;
  }

  .swiperArrowNext {
    left: 516px;
  }

  .swiperArrowPrev {
    left: 458px;
  }

  .swiper-scroll {
    bottom: 112px;
    left: 110px;
  }

  .sectionPrd .container {
    padding: 0 200px;
  }

  .faqWrapper {
    width: 720px;
  }

  .faqWrapper .circleCont {
    width: 180px;
  }

  .faqWrapper.active .circleCont:hover {
    width: 300px;
    border-radius: 20px;
  }

  .faqWrapper .circle .title {
    font-size: 16px;
  }

  .faqWrapper.active .circleCont:hover .circle .title {
    font-size: 22px;
  }

  .faqWrapper .circle .desc {
    font-size: 16px;
  }

  .faqWrapper.active .circleCont:hover .circle::before {
    width: 18px;
    left: 26px;
  }

  .faqDesc {
    font-size: 14px;
    margin-top: 120px;
  }

  .section05 {
    padding-bottom: 80px;
  }

  .section06 {
    padding: 80px 0 200px;
  }

  footer .logoWrapper li:nth-child(1) {
    padding-right: 30px;
  }

  footer .logoWrapper li:nth-child(1) img {
    width: 220px;
  }

  footer .logoWrapper li:nth-child(2) {
    padding-left: 30px;
  }

  footer .logoWrapper li:nth-child(2) img {
    width: 160px;
  }

  .section06 .footerInfo {
    font-size: 14px;
    margin: 20px 0 50px;
  }

  ul.family {
    height: 44px;
  }

  ul.family.on {
    height: 132px;
  }

  ul.family li {
    height: 44px;
    font-size: 14px;
    line-height: 44px;
  }
}

@media screen and (min-width: 1101px) {
  .pad {
    display: none !important;
  }
}

@media screen and (min-width: 451px) {
  .mo {
    display: none !important;
  }
}

@media screen and (max-width: 1100px) {

  .pc {
    display: none !important;
  }

  .pad {
    display: block;
  }

  .container {
    max-width: none;
  }

  .section01Area,
  .section01 .container {
    max-height: none;
  }

  .section01 .container {
    padding: 0 6vw;
  }

  .section01 .itemWrapper {
    right: 0;
  }

  .section01::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("https://dhnp.speedgabia.com/newpien/mainImage_pad.png") no-repeat center/cover;
  }

  .section01 .txtWrapper {
    justify-content: flex-start;
  }

  .section01 .txtWrapper div:not(:nth-child(2)) {
    height: auto;
  }

  .section01 .txtWrapper p.txtmain {
    font-size: 4.2vw;
  }

  .section01 .txtWrapper div:nth-child(1) {
    padding-bottom: 44px;
    margin-top: calc(14 * var(--vh));
  }

  .section01 .txtWrapper div:nth-child(2) img {
    width: 74vw;
  }

  .section01 .txtWrapper div:nth-child(3) {
    margin-top: auto;
    padding-bottom: 6vw;
  }

  .section01 .txtSub {
    font-size: 2.5vw;
  }

  .section02Top {
    height: 20vw;
  }

  .section02Top div:nth-child(2) {
    width: 100vw;
  }

  h3 {
    font-size: 3.2vw;
  }

  h2 {
    font-size: 8vw;
    margin-top: 3vw;
  }

  .section02 p.desc {
    font-size: 2.8vw;
    margin-top: 3.2vw;
  }


  .kneeItem {
    margin-top: 12vw;
    width: 60vw;
    height: calc(60vw * (536/714));
  }

  .kneeOff {
    background-image: url("https://dhnp.speedgabia.com/newpien/knee_pad.png");
  }

  .kneeOn {
    background-image: url("https://dhnp.speedgabia.com/newpien/knee_on_pad.png");
  }

  .itemcase {
    right: -10vw;
    bottom: -14vw;
  }

  .itemcase img {
    width: 70vw;
  }

  .sectionInter .txtInter {
    font-size: 4.5vw;
  }

  .sectionInter .container {
    padding-top: 28vw;
  }

  .section03 {
    padding-top: 20vw;
    padding-bottom: 24vw;
  }

  .section03 :is(.items, .itemWrapper) {
    gap: 2vw;
  }

  .section03 .item {
    aspect-ratio: 300/360;
    border-radius: 2vw;
    padding: 2.5vw 1.8vw;
  }

  .section03 .icon {
    font-size: 3.2vw;
  }

  .section03 .title {
    font-size: 2.8vw;
  }

  .section03 .info {
    font-size: 1.8vw;
  }

  .section03 .info.line {
    line-height: 1.1;
  }

  .section03 .item:hover .info {
    padding-top: 1.4vw;
  }

  .section03 .info em {
    font-size: 2.2vw;
  }

  .section03 .info span {
    font-size: 1.3vw;
  }

  .dot {
    width: 1.4vw;
    right: 1.8vw;
    top: calc(100% - 5vw);
  }

  .section03 .item:hover .dot {
    top: 2.5vw;
  }

  .section04 {
    padding-top: 10vw;
  }

  .swiper-dots {
    justify-content: center;
    margin-top: 10vw;
    gap: 1vw;
  }

  .swiper-dots li {
    padding: 1.4vw;
    border-radius: 1vw;
    font-size: 2vw;
  }

  .slideArea {
    height: auto;
    margin-top: 5vw;
  }

  .slideRight {
    background-color: transparent;
  }

  .slideArea::before {
    height: calc(100% - 160px);
    bottom: 80px;
  }

  .slideWrapper {
    width: calc(100vw - 80px);
    background-color: #ececec;
    background-image: none;
    border-radius: 4vw;
    max-width: 840px;
    aspect-ratio: 714/740;
    padding: 0;
    overflow: hidden;
  }

  .slideWrapper .swiper {
    width: 100%;
    height: 100%;
    float: none;
  }

  .swiper-slide {
    flex-direction: column;
    width: auto;
    padding: 6vw;
    padding-bottom: 14vw;
    gap: 4vw;
  }

  .slideTitle h4 {
    margin-top: 0;
    text-align: left;
    font-size: 5vw;
  }

  .slideTitle h4 em {
    font-size: 6vw;
  }

  .slideContent {
    width: 100%;
    height: 100%;
  }

  .slideContent p {
    font-size: 2.4vw;
  }

  .slideContent span {
    font-size: 1.8vw;
  }

  .swiper-scroll {
    width: calc(100% - 22vw - 46px);
    right: initial;
    left: 6vw;
    z-index: 3;
    bottom: calc(7vw - 2px);
  }

  .swiperArrowPrev,
  .swiperArrowNext {
    bottom: calc(7vw - 18px);
  }

  .swiperArrowNext {
    right: 6vw;
  }

  .swiperArrowPrev {
    right: calc(10vw + 23px);
  }

  .faqDesc {
    margin-top: 14vw;
    font-size: 2.4vw;
  }

  .section05 {
    padding-top: 20vw;
    padding-bottom: 10vw;
  }

  footer .logoWrapper li:nth-child(1) {
    padding-right: 4vw;
  }

  footer .logoWrapper li:nth-child(1) img {
    width: 26vw;
    max-width: 270px;
  }

  footer .logoWrapper li:nth-child(1)::after {
    height: 4vw;
    top: calc(50% - 2vw);
  }

  footer .logoWrapper li:nth-child(2) {
    padding-left: 4vw;
  }

  footer .logoWrapper li:nth-child(2) img {
    width: 22vw;
    max-width: 180px;
  }

  .section06 .footerInfo {
    font-size: 2vw;
    margin: 4vw 0 8vw;
  }

  ul.family {
    width: 40vw;
    height: 6vw;
  }

  ul.family.on {
    height: 18vw;
  }

  ul.family li {
    font-size: 2vw;
    line-height: 6vw;
  }

  .section06 {
    padding: 10vw 0 24vw;
  }

  nav ul {
    gap: 3.4vw;
  }

  nav li {
    gap: 0.8vw;
    height: 1.8vw;
  }

  nav li a {
    width: 1.8vw;
  }

  nav li a::after {
    width: 1vw;
  }

  nav li:hover a::after,
  nav li.on a::after,
  nav .navMain li:nth-child(1) a::after {
    width: 1.8vw;
  }

  nav p {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 990px) and (min-width: 451px) {

  .faqWrapper {
    width: calc(100vw - 160px);
    margin-top: 10vw;
  }

  .faqWrapper .circleCont {
    width: 22vw;
  }

  .faqWrapper.active .circleCont:hover {
    width: 40vw;
    max-width: 360px;
  }

  .faqWrapper.acitve .circleCont:hover .circle {
    border-radius: 5vw;
  }

  .faqWrapper .circle .title {
    font-size: 2vw;
  }

  .faqWrapper.acitive .circleCont:hover .circle .title {
    font-size: 3.5vw;
  }

  .faqWrapper .circle .desc {
    font-size: 2.2vw;
    letter-spacing: -0.05em;
  }


  .faqWrapper .circle::before {
    width: 1.4vw;
    top: 2.4vw;
  }

  .faqWrapper.active .circleCont:hover .circle::before {
    width: 2.4vw;
    left: 2.4vw;
  }
}

@media screen and (max-width: 450px) {

  .nomobile {
    display: none;
  }

  h3 {
    font-size: 3.8vw;
  }

  h2 {
    font-size: 10vw;
  }

  .section02 p.desc {
    font-size: 3.6vw;
    letter-spacing: -0.08em;
    margin-top: 4vw;
  }

  .section01 .bg {
    width: 150vw;
  }

  .section01::before {
    background-image: url("https://dhnp.speedgabia.com/newpien/mainImage_mo.png");
  }

  .section01 .txtWrapper div:nth-child(1) {
    padding-bottom: 6vw;
  }

  .section01 .txtWrapper p.txtmain {
    font-size: 4.8vw;
  }

  .section01 .txtWrapper div:nth-child(2) img {
    width: 78vw;
  }

  .section01 .txtWrapper div:nth-child(3) {
    padding-bottom: calc(5 * var(--vh));
  }

  .section01 .txtSub {
    font-size: 3vw;
  }

  .sectionInter .txtInter {
    font-size: 5vw;
  }

  .container {
    padding: 0 20px;
  }

  .section02 {
    padding: 20vw 0 10vw;
  }

  @media screen and (min-height: 700px) {
    .section01::before {
      top: calc(2 * var(--vh));
    }

    .section01 .txtWrapper {
      width: 100%;
    }

    .section01 .txtWrapper div:nth-child(1) {
      margin-top: calc(16 * var(--vh));
    }
  }

  .section03 .items {
    grid-template-columns: repeat(3, 1fr);
  }

  .section03 :is(.items, .itemWrapper) {
    gap: 2vw;
  }

  .section03 .item {
    aspect-ratio: 13/18;
    padding: 3vw 2.5vw;
    border-radius: 3vw;
  }

  .section03 .itemWrapper:nth-child(2) {
    margin-top: calc((((96vw - 40px) / 3) * (18 / 13)) / 2);
  }

  .section03 .itemWrapper:nth-child(4) {
    margin-top: calc(((((96vw - 40px) / 3) * (18 / 13)) / 2) * -1);
  }

  .section03 .itemWrapper:nth-child(4)>div:nth-child(2) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc((96vw - 40px) / 3);
  }

  .section03 .itemWrapper:where(:nth-child(1), :nth-child(3)) {
    margin-top: 0;
  }

  .section03 .icon {
    font-size: 4vw;
  }

  .section03 .title {
    font-size: 3.8vw;
  }

  .section03 .info {
    font-size: 3vw;
    letter-spacing: -0.08em;
  }

  .section03 .info.line {
    line-height: 1.2;
  }

  .section03 .info em {
    font-size: 3vw;
  }

  .section03 .info em:nth-of-type(2) {
    margin-top: 2px;
  }

  .section03 .info span {
    font-size: 2.2vw;
    line-height: 1;
  }

  .section03 .info.nowrap {
    white-space: wrap;
  }

  .dot {
    width: 2vw;
    top: calc(100% - 6.5vw);
    right: 2.5vw;
  }

  .section03 .item:hover .dot {
    top: 3.5vw;
  }

  .swiper-dots {
    display: none;
  }

  .slideArea {
    margin-top: 10vw;
  }

  .slideWrapper {
    width: calc(100vw - 58px);
    aspect-ratio: 280/370;
  }

  .slideTitle h4 {
    font-size: 5.8vw;
  }

  .slideTitle h4 em {
    font-size: 6.5vw;
  }

  .swiper-slide {
    padding: 5.2vw;
    padding-bottom: 12vw;
  }

  .slideContent p {
    font-size: 3.2vw;
    line-height: 1.6;
  }

  .slideContent span {
    font-size: 2.6vw;
  }

  .swiper-scroll {
    width: calc(100% - 10.4vw - 20vw);
    height: 3px;
    left: 5.2vw;
    bottom: calc(6vw - 1px);
  }

  .swiperArrowPrev,
  .swiperArrowNext {
    bottom: 3vw;
    width: 4vw;
  }

  .swiperArrowNext {
    right: 5.2vw;
  }

  .swiperArrowPrev {
    right: 15.2vw;
  }

  .sectionPrd .container {
    padding: 0;
    padding-top: 10vw;
  }

  .faqWrapper {
    width: 136vw;
    position: absolute;
    left: -52%;
  }

  .faqWrapper .circleCont {
    width: 34vw;
    transition: 1s;
  }

  .faqWrapper.active .circleWrapper,
  .faqWrapper.active .circle {
    animation: none;
  }

  .faqWrapper .circle .title {
    font-size: 3vw;
  }

  .faqWrapper.on .circleCont:nth-child(1),
  .faqWrapper.on .circleCont:nth-child(4) {
    left: calc(50% + 24px);
  }

  .faqWrapper .circleCont:nth-child(2) {
    transition-delay: 0.2s;
  }

  .faqWrapper.on .circleCont:nth-child(2) {
    right: 4%;
    top: 34%;
  }

  .faqWrapper .circleCont:nth-child(3) {
    left: initial;
    right: 50%;
    transition-delay: 0.4s;
    transform: scale(0.5) translate(100%, 100%);
  }

  .faqWrapper.on .circleCont:nth-child(3) {
    right: 4%;
    bottom: 32%;
    transform: translateY(50%);
  }

  .faqWrapper .circleCont:nth-child(4) {
    top: initial;
    bottom: 50%;
    transition-delay: 0.6s;
    transform: scale(0.5) translate(-100%, 100%);
  }

  .faqWrapper.on .circleCont:nth-child(4) {
    transform: translateX(-50%);
    bottom: 0;
  }

  .faqWrapper .circle::before {
    width: 2.2vw;
    left: calc(50% - 1.1vw);
    top: 12%;
  }

  .faqDesc {
    margin-top: 165vw;
    font-size: 3vw;
  }

  .faqPoplayer {
    width: 100vw;
    height: calc(100 * var(--vh));
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 8vw;
    display: none;
    opacity: 0;
    transition: 0.5s;
    align-items: center;
    z-index: 10;
  }

  .faqPoplayer .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .faqPoplayer.on {
    opacity: 1;
  }

  .faqPopBox {
    width: 100%;
    aspect-ratio: 1;
    background-color: #ececec;
    border-radius: 5vw;
    position: relative;
  }

  .faqPopBox::before {
    content: '';
    display: block;
    width: 4vw;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #13AE67;
    position: absolute;
    left: 6vw;
    top: 6vw;
  }

  .faqPopBox .close {
    width: 4vw;
    aspect-ratio: 1;
    background: url("https://dhnp.speedgabia.com/newpien/close.png") no-repeat center/cover;
    position: absolute;
    top: 6vw;
    right: 6vw;
  }

  .faqPopText {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6vw;
  }

  .faqPopBox .title {
    font-size: 4.8vw;
    font-weight: 700;
  }

  .faqPopBox .desc {
    font-size: 3.8vw;
  }

  .section06 {
    padding: 10vw 0 30vw;
  }

  footer .logoWrapper li:nth-child(1) img {
    width: 32vw;
  }

  footer .logoWrapper li:nth-child(1)::after {
    height: 5vw;
    top: calc(50% - 3vw);
  }

  footer .logoWrapper li:nth-child(2) img {
    width: 26vw;
  }

  .section06 .footerInfo {
    font-size: 3vw;
  }

  ul.family {
    height: 8vw;
  }

  ul.family.on {
    height: 25vw;
  }

  ul.family li {
    font-size: 3vw;
    line-height: 8vw;
  }

  nav ul {
    gap: 3.8vw;
  }

  nav li:hover a::after,
  nav li.on a::after,
  nav .navMain li:nth-child(1) a::after {
    width: 2.6vw;
  }

  nav {
    right: 10px;
  }

  nav li {
    height: 2.6vw;
  }

  nav li a::after {
    width: 1.4vw;
  }

  nav p {
    display: none;
  }

  .scrollbar {
    width: 4px;
  }

}